.alert-info {
    background-color: white;    
    /* color: #a7535a; */
    border-color: transparent;
  }
  
  .btn-primary {
    background-color: #a7535a;
    border-color: #a7535a;
  }
  
  .btn-primary:hover {
    background-color: #d07c81;
    border-color: #d07c81;
  }


  
  